<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.eddy.basetrackerpsyegb">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_map_large"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBC1KhvQE3Hn_4fqRuWfQ779gxC59vHwrw"/>

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".Service.MyLocationService"/>

        <provider
                android:name=".DB.GPSProvider"
                android:authorities="com.example.eddy.basetrackerpsyegb.DB.contentprovider"
                android:enabled="true"
                android:exported="true">
        </provider>

        <activity android:name=".activities.TrackingActivity"
                  android:configChanges="orientation">
        </activity>
        <activity android:name=".activities.AllRunsActivity">
        </activity>
        <activity android:name=".activities.LiteListDemoActivity">
        </activity>
        <activity android:name=".map.PolyDecodeDemoActivity"/>
        <activity android:name=".map.PolySimplifyDemoActivity"/>
        <activity android:name=".activities.RunStatsActivity">
        </activity>
        <activity android:name=".activities.RunOverviewActivity"/>
    </application>

</manifest>